
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.font-size{
    font-family: 'Times New Roman', Times, serif;
}

.container {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.header {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url('https://assets.nflxext.com/ffe/siteui/vlv3/83e8c151-107d-4e8f-b95a-d2ba99d49bb9/7a0bd648-8238-4134-b486-e7ff5cbaa56e/US-en-20230213-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.movie-card {
    margin: 40px 0;
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.movie-card img {
    width: 100%;
 height: 200px;
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.movie-card h2 {
    font-size: 24px;
    margin: 10px 0;
}

.movie-card p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.movie-card ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
}

.movie-card li {
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.show-more-btn {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}

.show-more-btn:hover {
    background-color: #0056b3;
}

.book-ticket-btn {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.book-ticket-btn:hover {
    background-color: darkred;
}