* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.row {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-wrapper {
    border-radius: 20px;
    margin: 30px;
    outline: 8px solid #222;
    background-color: rgba(255, 255, 255, 0.1);
}

.card-wrapper:hover {
    transform: scale(1.05);
    outline: 8px solid #686666;
}

.card {
    color: black;
    width: 300px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    color: white;
}

.card p {
    margin-top: 15px;
    padding: 0 20px;
    height:120px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

button.btn {
    width: 50%;
    background-color: black;
    align-self: center;
    border-radius: 30px;
    padding: 10px 5px;
    border: 2px solid transparent;
    margin-top: 20px;
    color: white;
}

button.btn:hover {
    background-color: rgb(171, 171, 171);
    color: black;
    border: 2px solid #222;
}